<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>
    <div class="content">
      <h2 class="page-title">Add a new entry below!</h2>
      <form action="/blogs" method="POST">
          <div class="form-container">

          <div class="form-row col-one" >
            <label for="bookTitle" class="label">Book Title</label>
          </div>

          <div class="form-row col-two">
            <label for="author" class="label">Author</label>
          </div>

          <div class="form-row col-one">
            <input
            id="bookTitle"
            name="bookTitle"
            type="text"
            placeholder="Books, books, books..."
            required="required"
            />
          </div>

          <div class="form-row col-two">
            <input
              id="author"
              name="author"
              type="text"
              required="required"
            />
          </div>
<!-- TO DO: change date input value to show current date -->
          <div class="form-row col-one">
            <label for="startDate" class="label">Started: </label>
          </div>
          <div class="form-row col-two">
            <label for="endDate" class="label">Finished: </label>
          </div>

          <div class="form-row col-one">
            <input
            id="startDate"
            name="startDate"
            type="date"
            value="2021-10-15"
            min="1992-11-16"
            max="2092-11-16"
            required="required"
            />
          </div>

          <div class="form-row col-two">
            <input
            id="endDate"
            name="endDate"
            type="date"
            value="2021-10-15"
            min="1992-11-16"
            max="2092-11-16"
            required="required"
            />
          </div>
<!-- TO DO: add boxes to select from-->
          <!-- <div class="form-row">
            <label for="tag" class="label">Tags</label>
          </div>
          <div class="form-row">
            <input
            id="tags"
            name="tags"
            type="checkbox"
            required="required"
            />
          </div>    -->
          <div class="form-row">
            <label for="blogContent" class="label"
              >Your Thoughts on the Book:
            </label>
          </div>
          <div class="form-row"></div>
        </div>
          <div class="blog-content">
            <textarea id="blogContent" name="blogContent" required="required">
            </textarea>
          </div>
          <div class="form-button">
            <button id="post-new-blog-button">Post!</button>
          </div>
        </form>
      
    </div>
  </body>
</html>
