<div class="nav">
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/new-blog">Make a New Post</a></li>
    <li><a href="/search">Search</a></li>

    <li class="dropdown">
      <span>Categories ▾</span>
      <ul class="categories-menu">
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Quotes</a></li>
      </ul>
    </li>
  </ul>
</div>
