<nav class="nav-container">
  
  <div class="nav-headers">
    <div class="empty-header">
    </div>
    <div class="header-cluster">
      <div class="header all-blogs">
        <a href="/blogs/allBlogs">Blogs</a>
      </div>

      <div class="header all-authors">
        <a href="/categories/allAuthors">Authors</a>
      </div>

      <div class="header all-tags">
        <a href="/categories/allTags">Tags</a>
      </div>
    
    </div>
    <div class="header-single">
      <div class="create-header">
        <a href="/blogs/create"><img
          class="create-button"
          src="../../images/add-button-opt.svg"
          alt="An icon with a plus sign that directs you to the create page."
          /></a>
        </div>
      </div>
    </div>
</nav>