<div class="nav">
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <span><a href="#">Categories</a>▾</span>
      <ul class="categories-menu">
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Quotes</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <span>Search</span>
      <ul class="search-field">
        <li>
          <form class="search-form">
            <label for="search-input" class="label"></label>
            <input id="search-input" name="search-input" type="text" />
          </form>
        </li>
        <li>
          <button id="search-for-keyword-button">Search!</button>
        </li>
      </ul>
    </li>
  </ul>
  <div class="create-blog-button-container">
    <a class="create-blog-button" href="/create">
      <img
        class="create-blog-icon"
        src="./images/add-button-opt.svg"
        alt="An icon with a plus sign that directs you to the create page."
      />
    </a>
  </div>
</div>
