<div class="nav">
  <ul class="menu">

    <li><a href="/categories/allAuthors">All Authors</a></li>

    <li class="dropdown">
      <span><a href="/categories/allTags">Tags</a>▾</span>
      <ul class="categories-menu">
        <li><a href="#">Sci-Fi</a></li>
        <li><a href="#">Fantasy</a></li>
      </ul>
    </li>
    
  </ul>
  <div class="create-blog-button-container">
    <a class="create-blog-button" href="/blogs/create">
      <img
        class="create-blog-icon"
        src="../../images/add-button-opt.svg"
        alt="An icon with a plus sign that directs you to the create page."
      />
    </a>
  </div>
</div>
