<div class="nav">
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <span>Categories▾</span>
      <ul class="categories-menu">
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Quotes</a></li>
      </ul>
    </li>
    <li><a href="/search">Search</a></li>
  </ul>
  <div class="add-new-blog-container">
    <a class="add-new-blog" href="/new-blog">
      <img
        class="add-new-blog-icon"
        src="./images/add-button-opt.svg"
        alt="An icon with a plus sign that directs you to the new-blog page."
      />
    </a>
  </div>
</div>
