* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  background: #3d4634ff;
}

a:link,
a:visited {
  color: #8e6032ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.title-banner-container {
  display: flex;
}

.nav {
  display: flex;

  margin: auto;
  margin: 0px 60px;
  padding: 0px 40px;
  background: #966533ff;
  color: #8e6032ff;
}

.menu {
  display: flex;
  margin: auto;
  background: #2e2525ff;
  border-bottom: 5px solid #473120ff;
  border-radius: 5px;

  font-size: 22px;
}

.menu > li {
  display: flex;
  border-right: 5px solid #473120ff;
  border-left: 5px solid #473120ff;
  padding: 10px 50px;
}

.menu > li:first-of-type {
  border-right: 0px;
}
.menu > li:last-of-type {
  margin-right: 0;
  border-left: 0px;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  z-index: 2;
  position: relative; /* This is important! */
  cursor: pointer;
}

.categories-menu {
  display: flex;
  flex-direction: column;
  border: 2px solid #473120ff;
  border-radius: 2px;
  padding-top: 50px;

  position: absolute;
  left: 25px;
  top: -1.5px;

  font-size: 18px;
}

.categories-menu {
  display: none;
}

.dropdown:hover .categories-menu {
  display: flex;
  flex-direction: column;
  background: #2e2525ff;
  z-index: 1;
}

.categories-menu li {
  list-style: none;
  border-bottom: 4px solid #473120ff;

  padding: 0 40px 10px 40px;
  margin: 10px;
}

.categories-menu li:last-of-type {
  border-bottom: none;
}

.search-field {
  display: flex;

  position: absolute;
  bottom: -5px;
  left: -5px;

  border-right: 5px solid #473120ff;
  border-left: 5px solid #473120ff;
  border-bottom: 5px solid #473120ff;
}

.search-field {
  display: none;
}

.dropdown:hover .search-field {
  display: flex;
  flex-direction: row;
  background: #2e2525ff;
  z-index: 2;
}

.search-field li {
  list-style: none;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.search-field > li:first-of-type {
  border-right: 0px;
}
.search-field > li:last-of-type {
  border-left: 0px;
  margin-right: 0;
  padding-right: 10px;
}

#search-input {
  background-color: #8e6032ff;
  border: 1px solid #473120ff;
  border-radius: 3px;
  padding: 3px;
}

#search-for-keyword-button {
  font-weight: bold;

  color: #8e6032ff;
  background-color: #65292aff;

  border: none;
  border-radius: 3px;

  padding: 5px 10px;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0px 60px;
  padding: 0px 40px 100px 40px;
  background: #966533ff;
  color: #2e2525ff;
}

.create-blog-title {
  margin: 0px 60px;
  padding: 20px 40px;
  background: #966533ff;
  color: #2e2525ff;
}

.content-box,
.create-blog-form {
  background: #2e2525ff;
  color: #966533ff;

  border: 5px solid #473120ff;

  padding: 20px;
  margin-top: -5px;
}

.content-box-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.content-box-image {
  display: flex;
  padding-right: 20px;
}

.author {
  padding-left: 20px;
  padding-top: 5px;
}

.blog-snippet {
  background: #65292aff;
  border: 2px solid #473120ff;

  margin: auto;
  padding: 10px;
}

.input-cluster {
  display: flex;
  justify-content: flex-start;
}
/* .input-cluster input:first-of-type {
  margin-right: 30px;
} */

.form-row {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-row label {
  margin: 5px 5px 5px 0px;
  padding: 0px 10px;
}
.form-row input {
  margin-left: 30px;
}

.form-row textarea {
  width: 100%;
  min-height: 200px;
}
