* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  background: #3d4634ff;
}

h1,
.authorLink,
.date-value,
.tags-value {
  /* maybe: 
  font-family: "Estonia", cursive;
  font-size: 60px;
  font-weight: 700;
  */
  font-family: "Charm", cursive;
}

a:link,
a:visited {
  color: #8e6032ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.title-banner-container > a {
  z-index: 9999;
}

.title-banner-image {
  display: flex;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  background: #2e2525ff;

  border-right: 3px solid #473120ff;
  border-left: 3px solid #473120ff;
  border-bottom: 3px solid #473120ff;

  margin: auto;
  max-width: 900px;
}

.nav-headers {
  display: flex;
  margin: auto;
  align-items: center;

  color: #8e6032ff;
  font-size: 22px;
  background: #2e2525ff;
  /* border: 2px solid rgb(79, 175, 0); */
}

.nav-headers .header {
  display: flex;
  align-items: center;
  padding: 0px 20px;

  /* border: 2px solid rgb(0, 55, 175); */
}

/* --------------------------------- End of title / menu bar---------------------------------------- */
.content {
  display: flex;
  flex-direction: column;

  background: #966533ff;
  color: #2e2525ff;

  margin: 0px 60px;
  padding: 0px 40px 100px 40px;

  margin: auto;
  max-width: 900px;
}

.page-title {
  color: #2e2525ff;
  padding-top: 20px;
}

.stock-image {
  padding: 20px;
  max-width: 228.677px;
  max-height: 171.667px;
}

/* mobile use */

/* @media only screen and (min-width: 700px) {
  .content,
  .nav {
    width: 600px;
    color: rgb(92, 38, 22);
  }
} */
/* ------------------------------------ End of Universal CSS ---------------------------------------*/
