<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <h2 class="page-title">All Authors</h2>
      <div class="content-box">
        <% if (authors.length > 0) { for (var i = 0; i < authors.length; i++ ) { %>
          <div class="author-container">
            <a class="author" href="#">
              <%= authors[i].name %>
            </a>
          </div>
          <% } %>
          <% } else { %>
            <p>There are no authors to display.</p>
          <% } %>
      </div>
    </div>
  </body>
</html>
