<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> <%- include('../partials/nav.ejs')
    %>

    <div class="content">
      <h2 class="page-title">Page Title</h2>
      <div class="content-box">
        <div class="content-box-top">
          <div class="content-box-heading">
            <h1 class="title">Book Title</h1>
            <h2 class="author">Book Author</h2>
          </div>
          <div class="thumbnail-container">
            <img
              class="thumbnail"
              src="./images/test-image-opt.svg"
              alt="An image of some stylized purple outlined trees on a dark landscape."
            />
          </div>
        </div>
        <div class="blog-snippet">Blog Snippet</div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
